
body {
    background-image: url(../images/01-Gold-Confetti.jpg)
    
}

header {
    font-weight: bold;
    color: black;
    font-size: 5em;
    text-align: center;
    font-family: Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

h2 {
    text-align: center;
}

a:hover {
    font-size: 105%;
    color:white  
}

a:visited {
    color:white
}

.video-Godmanchester {
    align-self: center;

}

